<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlygiatla_nhom1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyGiatLa_Nhom1">
        <activity
            android:name=".Activity.SignInActivity"
            android:exported="false"
            android:parentActivityName=".Activity.LoginActivity"></activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"></activity>
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>